---
layout: index
title: Dos viajeros sin memoria
---
{% for post in site.posts limit:6 %}
    {% unless post.draft %}
    <div class="post-excerpt">
        <div class="featured-thumbnail" style="background:url({{ post.featured_image }}) 50% 50%"></div>
        <div class="body">
            <h1><a href="{{ post.url }}/">{{ post.title }}</a></h1>
            <h2>Posteado el {{ post.date | date: "%d/%m/%Y" }} por <a href="http://twitter.com/{{ post.author_twitter }}">{{ post.author }}</a></h2>
            <p>{{ post.content | summary }} <a class="read-more" href="{{ post.url }}">Leer más...</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
    {% endunless %}
{% endfor %}
