<div id="footer">
    <div id="credits">
        <p>Diseñado por <a href="http://twitter.com/satanas82">satanas82</a> y
        hosteado usando <a href="http://pages.github.com/">Github Pages</a></p>
    </div>
    <div id="license">
        <a class="icon" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
        </a><br />
        <p>Este blog y todo su contenido es publicado bajo una licencia <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a></p>
    </div>
</div>
