<header>
    <div id="blog-title"><a href="http://dosviajerossinmemoria.com">DOS VIAJEROS</a></div>
    <div class="clearfix"></div>
    <div id="blog-subtitle"><a href="http://dosviajerossinmemoria.com">sin memoria</a></div>
    <div class="menu-item"><a href="http://dosviajerossinmemoria.com/nosotros">Nosotros</a></div>
    <div class="menu-item"><a href="http://dosviajerossinmemoria.com/archivo">Archivo</a></div>
    <div class="menu-item"><a href="http://dosviajerossinmemoria.com">Inicio</a></div>
    <div class="clearfix"></div>
</header>
