<div id="sidebar">
    <div id="recent">
        <ul>
            {% for post in site.posts limit:5 %}
            <li><a href="{{ base_path }}{{ post.url }}">{{ post.title}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="donations">
        <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://dosviajerossinmemoria.com"></a>
    </div>

    <div id="twitter-accounts">
        <div><a href="https://twitter.com/andrearrs" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @andrearrs</a></div>
        <div><a href="https://twitter.com/satanas82" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @satanas82</a></div>
    </div>
    <div id="rss-feed">
        <a href="http://dosviajerossinmemoria.com/feed"><img title="Feed RSS" src="http://satanas.github.io/dosviajeros/images/rss-feed-icon.png"></a>
    </div>
</div>
<div class="clearfix"></div>
