* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #444;
}

a {
    color: #f1592a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-left: 20px;
    list-style-position: inside;
}

blockquote {
    background: url('../images/quote-icon.gif') no-repeat;
    padding: 5px 10px 5px 30px;
    margin-left: 20px;
    /*font-family: 'Noto Sans';
    font-style: italic;*/
    color: #666;
}

#wrapper {
    width: 940px;
    margin: 0 auto;
}

header {
    margin-top: 10px;
    /*border-bottom: 1px solid #666;*/
}

#blog-title, #blog-subtitle {
    float: left;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
}

#blog-subtitle {
    font-size: 33px;
    color: #d6d6d6;
    margin-top: 10px;
}

#post {
    float: left;
    width: 658px;
    padding-right: 60px;
    margin-top: 30px;
    /*border: 1px solid #000;*/
}

#post .date {
    float: right;
}

#post h1 {
    font-weight: 300;
    font-size: 26px;
    margin: 20px 0 0 0;
    font-family: 'Raleway', sans-serif;
}

#post h2 {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 8px;
    color: #aaa;
}

#post .body {
    border-top: 1px solid #ddd;
    margin-top: 5px;
}

#post .body p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #444;
}

img {
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 3px;
    display: block;
}

img.with-label {
    margin: 0px auto;
}

label.image-description {
    display: block;
    margin-bottom: 15px;
    font-size: 11px;
    text-align: center;
}

#sidebar {
    float: left;
    width: 208px;
    height: 400px;
    /*border: 1px solid #000;*/
    margin-top: 45px;
}


#sidebar #recent {
    height: 160px;
    margin-bottom: 20px;
}

#sidebar #recent ul {
    margin-left: 0px;
    list-style-type: none;
}

#sidebar #recent ul li {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    border-left: 4px solid #eaeaea;
    color: #999;
    margin: 2px 0;
}

#sidebar #recent ul li a {
    display: block;
    height: 28px;
    padding-left: 6px;
    vertical-align: middle;
    color: #999;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#sidebar #recent ul li:hover {
    border-color: #f1592a;
}

#sidebar #recent ul li a:hover {
    color: #f1592a;
}

#sidebar #donations {
    margin-bottom: 20px;
}

#social {
    margin-bottom: 20px;
}

#social div {
    float: left;
    width: 120px;
}

.menu-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    float: right;
    vertical-align: text-bottom;
    margin: 5px  10px 0 10px;
}

#footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-family: 'Lato';
    color: #999;
}

#footer a {
    color: #444;
}

#footer #credits p {
    margin: 15px 0 30px 0;
}

#footer #license {
    margin-bottom: 20px;
}

#footer #license p {
    font-size: 12px;
}

#footer #license .icon {
    display: block;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
