<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="wrapper">
            {% include header.html %}

            <div id="content">
                {{ content }}
            </div>

            <div id="sidebar">
                {% include donations.html %}
                {% include social.html %}
                {% include rss.html %}
            </div>
            <div class="clearfix"></div>

            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>
