<html>
    {% include head.html %}
    <body>
        <div id="wrapper">
            {% include header.html %}

            <!-- Post -->
            <div id="post">
                <h1>{{ page.title }}</h1>

                <h2>Posteado el {{ page.date | date: "%d de %m de %Y }} por <a href="http://twitter.com/{{ page.author_twitter }}">{{ page.author }}</a></h2>

                <div class="body">
                    {{ content }}
                </div>
            </div>

            {% include sidebar.html %}

            {% include footer.html %}
        </div>
    </body>
</html>
