<!DOCTYPE html>
<html>
    {% include post_head.html %}
    <body>
        <div id="wrapper">
            {% include header.html %}

            <!-- Post -->
            <div id="post">
                <h1>{{ page.title }}</h1>

                <!-- Author rank -->
                <h2>Posteado el {{ page.date | date: "%d de %m de %Y" }} por <a rel="author" href="{{ page.author_rank }}?rel=author">{{ page.author }}</a></h2>

                <div class="body">
                    <img id="featured" class="featured" title="{{ page.featured_label }}" alt="{{ page.featured_label }}" src="{{ page.featured_image }}" />
                    <label for="featured" class="image-description">{{ page.featured_label }}</label>
                    {{ content }}
                </div>

                <div id="social">
                    <span>COMPARTE ESTE ARTÍCULO</span>
                    <div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ page.author_twitter }}" data-text="{{ page.title }}">Twittear</a>
                    </div>
                    <div>
                        <p><g:plusone size="medium"></g:plusone></p>
                    </div>
                    <div>
                        <!-- <div class="fb-send" data-href="{{ post.url }}" data-font="verdana"></div> -->
                        <div class="fb-like" data-href="{{ post.url }}/" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="true"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <br/>
                <!-- Disqus -->
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'dosviajerossinmemoria'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            </div>

            <div id="sidebar">
                {% include recent.html %}
                {% include donations.html %}
                {% include social.html %}
                {% include rss.html %}
            </div>
            <div class="clearfix"></div>

            {% include footer.html %}
        </div>
    </body>
</html>
